<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HW3-Info.EllisChesbrough.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>739AAD301DCD8FC9003C5646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739AAD491DCD8FCD003C5646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739AAD541DCD8FCD003C5646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
