<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2592 - Table From Property List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73438EF61D9C9BAB00D8721A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73438F0F1D9C9BAC00D8721A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73438F1A1D9C9BAC00D8721A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
