<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2592 - View Controllers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7381D7EF1D8A112A00117CBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7381D8081D8A112F00117CBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7381D8131D8A112F00117CBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
