<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HIS</key>
	<array>
		<string>HIS 101</string>
		<string>HIS 102</string>
		<string>HIS 103</string>
		<string>HIS 201</string>
		<string>HIS 202</string>
		<string>HIS 203</string>
	</array>
	<key>MAT</key>
	<array>
		<string>MAT 101</string>
		<string>MAT 102</string>
		<string>MAT 201</string>
		<string>MAT 202</string>
		<string>MAT 203</string>
		<string>MAT 301</string>
	</array>
	<key>CHM</key>
	<array>
		<string>CHM 101</string>
		<string>CHM 102</string>
		<string>CHM 103</string>
		<string>CHM 201</string>
		<string>CHM 301</string>
	</array>
	<key>GEO</key>
	<array>
		<string>GEO 101</string>
		<string>GEO 102</string>
		<string>GEO 103</string>
		<string>GEO 201</string>
		<string>GEO 202</string>
		<string>GEO 211</string>
		<string>GEO 212</string>
		<string>GEO 221</string>
	</array>
	<key>PHI</key>
	<array>
		<string>PHI 101</string>
		<string>PHI 102</string>
		<string>PHI 201</string>
		<string>PHI 903</string>
	</array>
</dict>
</plist>
